# Python
__pycache__/
__pycache__
*.pyc
*.pyo
.venv/
.venv

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
*.code-workspace
tempCodeRunnerFile.*

# Course
materials
quiz
*_Solutions.ipynb
*_Excercise.ipynb
# exercises
